# Exclude everything
/*

# Include specifically

## important Git files
!.gitignore

## editorconfig
!.editorconfig

## python
!/.python-version

## pipenv
!/Pipfile
!/Pipfile.lock

## uv
!/pyproject.toml
!/uv.lock

## markdowns
!/README.md

## 'cache' subdirs
cache
__pycache__/
*.py[oc]
*.egg-info

## Template
!/template
!/template/*

## Common sources
!/src

## Advent of Code year directories
!/2015
!/2016
!/2017
!/2018
!/2019
!/2020
!/2021
!/2022
!/2023
!/2024
